/* Order Online Section */
.btn-line a {
    color: inherit; /* Inherit the color from the button */
    text-decoration: none; /* Remove underline */
}

.btn-line:hover a {
    color: white; /* Change color on hover if desired */
}

.order-online-section {
    padding: 80px 0;
    background-color: #f0f7ef;
}

.order-heading {
    font-family: 'Overlock', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: peru;
}

.order-intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: peru;
}

/* Form Styles */
.order-form {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: peru;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: darkorange;
}

/* Footer */
.footer {
    background-color: #b0dcd1;
    color: peru;
    font-family: 'Overlock', serif;
    padding: 20px 0;
}

.footer a {
    color: peru;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.btn-line {
    display: inline-block;
    background-color: rgb(178, 221, 211);
    padding: 10px 30px;
    font-size: 1.125rem;
    border-radius: 25px;
    text-decoration: none;
    color: peru;
    border: 2px solid peru;
    font-weight: bold;
    font-family: Overlock;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    align-items: center;
  }
  
  .btn-line:hover {
    background-color: peru;
    color: white;
  }
